@media (max-width: 620px) {

    #menu {

        .limita-largura {
            flex-direction: column;
            justify-content: center;
        }
    }

    #banner {
        margin-top: 82px;
        height: calc(100vh - 82px);
    }

    #banner-quartos {
        margin-top: 82px;
        height: calc(30vh - 82px);
    }
}