* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
}

.limita-largura {
    max-width: 1024px;
}

.titulo {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.informacoes {
    margin: 0 10px 10px 10px;
    text-align: center;
}

#menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 3px 10px #cecece;

    .limita-largura {

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        #logo {

            h1 {
                font-weight: normal;
                font-size: 25px
            }

            span {
                color: #7e98b6;
            }
        }

        #navegacao {
            display: flex;
            gap: 30px;

            .nav-itens {
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

#banner, #banner-quartos {
    margin-top: 62px;
    height: calc(100vh - 62px);
    background-image: url(../image/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .conteudo {
        color: #fff;
        border-radius: 5px;
        border: 1px solid #fff;
        background-color: rgba(35, 163, 137, 0.699);
        text-align: center;
        padding: 30px 20px;

        h2 {
            margin-bottom: 20px;
            font-size: 54px;
        }

        h3 {
            font-weight: normal;
            font-size: 28px;
        }
    }
}

#banner-quartos {
    height: calc(200px - 62px);
    background-position: top;
}

#bem-vindo {
    margin: 62px auto;

    .fotos {
        display: flex;
        margin: 0 10px;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            margin: 30px auto 0 auto;
            flex-basis: 300px;
            flex-grow: 1;
            border-bottom: 3px solid #61aaa0;

            img {
                width: 100%;
            }

            h2 {
                padding: 20px;
                font-weight: 600;
                font-size: 17px;
                text-align: center;
            }
        }
    }
}

#rota {
    margin: 62px auto;

    iframe {
        margin-top: 30px;
        width: 100%;
        height: 300px;
    }
}

#sobre {
    margin: 62px auto;

    .cards {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 auto;
        padding: 10px;

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            margin: 0 auto;

            .conteudo {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 350px;
                height: 110px;
            }

            .container-image {
                width: 100px;
                height: 110px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#footer {
    background-color: #49997c;
    color: #fff;
    padding: 10px;

    .contatos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 20px;

        > div {
            flex-basis: 230px;
            margin: 10px auto;
        }

        .com-icone {
            display: flex;

            > p {
                margin-left: 10px;
            }
        }

        a {
            color: #fff;
        }
    }

    .copyright {
        border-top: 2px solid #408d71;
        padding: 20px;
        text-align: center;
    }
}